node_modules
.parcel-cache/
__client_generated__
__server_generated__
dist/
.env
.DS_Store
coverage/
.vscode/
.build/
.serverless/
/.env.staging
/.env.production
/.env.development

#amplify-do-not-edit-begin
amplify/
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
